/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .form-row{
    display: none;
 }
 .user-withdraw-form{
   display: none;
 }
 .user-withdraw-form .form-row{
   display: block;
 }