/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .form-row{
   display: none !important;
}

p.form-row.active {
  display: block !important;
}

.tsg-entry-hidden {
   display: none !important;
 }

 p.form-row.tsg-entry-hidden {
   display: none !important;
}

 .user-withdraw-form{
   display: none;
 }

 .user-withdraw-form .form-row{
   display: block;
 }

 #customer-buy-sf-form{
   display: none;
 }

.table-responsive.mycred-sell-this-history table {
   width: 100%;
}

#customer-sf-history{
   display: none;
}

.editable-input{
   display: none;
}

.relative{
   position: relative;
}

#purchase-datepicker {
   position: absolute;
   z-index: 999;
   top: 50px;
}

.woocommerce-account .form-row {
   margin-bottom: 0 !important;
}

.block-line.active {
   padding: 7px 0 !important;
}

.btn-small {
   font-size: 25px !important;
   padding: 16px 30px 15px 30px !important;
}

.style2:hover {
   color: #fff !important;
   border-color: #179ab3 !important;
   background-color: #179ab3 !important;
   transition: .3s !important;
 }

 #tsg-saving-text {
   font-size: 18px;
   font-weight: bold;
}

#tsg-saving-text .tsg-saving-text-dots::after {
   content: "";
   display: inline-block;
   animation: dots 1.5s steps(3, end) infinite;
}

@keyframes dots {
   0% {
       content: "";
   }
   33% {
       content: ".";
   }
   66% {
       content: "..";
   }
   100% {
       content: "...";
   }
}
.style2 {
   min-width: auto !important;
}
.woocommerce .block-line .btn {
   font-size: 22px !important;
   padding: 14px 27px 11px 27px !important;
}
.tsg-edit-service-btn.active {
   background-color: #179ab3 !important;
   color: #ffffff !important;
}
.tsg-service-gallery-image-wrapper {
   position: relative;
 }
 .tsg-service-gallery-image-wrapper .delete-image-btn, .tsg-service-gallery-image-wrapper .txt-delete-image-btn {
   position: absolute;
   top: 5px;
   right: 5px;
   background-color: red;
   color: white;
   border: none;
   border-radius: 50%;
   cursor: pointer;
   width: 20px;
   height: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 12px;
 }
 .tsg-service-preview .tsg-service-gallery-image-wrapper .delete-image-btn {
   display: none;
 }
 .tsg-main-service-image {
   width: auto !important;
   height: 150px !important;
 }
 #tsg-sf-exchange-section .myCRED-buy-form {
   display: flex;
   justify-content: space-between;
 }
 #tsg-sf-exchange-section .myCRED-buy-form-wrapper .row {
   width: 100%;
 }
 #tsg-sf-exchange-section .myCRED-buy-form .button {
   justify-content: center;
 }
 .woocommerce-checkout del.wc-block-components-order-summary-item__regular-individual-price, .woocommerce-cart del.wc-block-components-product-price__regular, .woocommerce-cart .wc-block-components-product-badge {
   display: none;
 }


 /* cart styles */
input#coupon_code {
   width: 100%;
   height: 55px;
}

.custom-cart-values p{
   font-weight: 400;
   font-size: 16px;
}

.quantity.buttons_added {
   display: flex;
}

input.input-text.qty.text {
   width: 100% !important;
   padding: 0px !important;
   height: 40px !important;
   padding-left: 15px !important;
   font-size: 16px;
}

button.minus.is-form, button.plus.is-form {
   width: 100%;
   background-color: transparent;
}

.coupon {
   float: unset !important;
   margin-bottom: 10px;
   width: auto !important;
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.cart-footer {
   display: flex;
   flex-direction: row-reverse;
   align-items: flex-start;
   justify-content: space-between;
}

button.minus.is-form {
   border-right: 0px;
   border-radius: 20px 0px 0px 20px;
   border-color: #1f7bb8;
}

button.plus.is-form {
   border-radius: 0px 20px 20px 0px;
   border-color: #1f7bb8;
   border-left: 0px !important;
}

.update-cart-button input[type="submit"] {
   font-size: 16px;
   padding: 0px 20px;
   height: 45px !important;
}

.coupon button.dt-wc-btn.wc-cart-button {
   font-size: 16px;
   padding: 0px 20px;
   height: 45px !important;
   color: #FFF;
}

input#coupon_code::placeholder {
   font-size: 16px;
   padding-left: 20px;
}

.cart_totals.calculated_shipping h2{
   margin-bottom: 10px;
}


/* login styles */
input#rememberme {
   width: auto;
   height: 40px;
}

label.woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme {
   display: flex;
   gap: 10px;
   margin: 10px 0px;
   justify-content: flex-end;
}

p.woocommerce-LostPassword.lost_password a {
   color: #511BCA;
}

button[type="submit"]{
   color: #FFF !important;
}

a.woocommerce-privacy-policy-link {
   color: #511BCA;
}

a.btn.style2.w100.user-withdraw-btn {
   width: 37%;
}

.btn-block{
   justify-content: flex-end;
}


.custom-full-width{
   width: 100% !important;
}